rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Permite la escritura para los documentos de licencia
    match /license-documents/{allPaths=**} {
      allow write: if true;
      // Lectura podría ser restringida si es necesario, por ahora se deja abierta para simplificar
      allow read: if true; 
    }
    
    // Permite la escritura para los comprobantes de pago
    match /comprobantesPago/{allPaths=**} {
      allow write: if true;
      allow read: if true;
    }
    
    // Regla para la página de prueba: permite lectura y escritura sin autenticación.
    // Esto es necesario para que `uploadBytes` funcione correctamente, ya que a veces
    // realiza una comprobación de lectura antes de escribir.
    match /test-uploads/{allPaths=**} {
      allow read, write: if true;
    }

    // Por defecto, se deniega el acceso a cualquier otra ruta para seguridad.
    // No añadir más reglas aquí a menos que sea explícitamente necesario.
  }
}
